.vscode/
logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
.env.local
.env.development.local
.env.test.local
.env.production.local

.nyc_output/
cypress/mochawesome/
cypress/report/
cypress/results/
cypress/videos/
cypress/screenshots

src/addons 

data
omelette
*~

src/load-volto-addons.js
